
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@await Component.InvokeAsync("_HeadUILayoutcomponentPartial")

<body>
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

    @await Component.InvokeAsync("_MainCoverUILayoutComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")

    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")

</body>
</html>
